<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_Simple_Assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.26619 0.3647 0.47224"
        rpy="0 0 0" />
      <mass
        value="4.3749" />
      <inertia
        ixx="0.12768"
        ixy="2.2903E-16"
        ixz="8.8002E-10"
        iyy="0.14247"
        iyz="7.0756E-12"
        izz="0.045997" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Simple_Assembly/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Simple_Assembly/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>